#Signup-Form-Container {
    margin-top: 150px;
}

#Submit-Container button {
    width:  150px;
}

.thank-you-message {
    text-align: center;
}





@media only screen and (max-width: 1000px) {
    #Submit-Container button {
        width:  100%;
    }
  }