#Signup-Form-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #120F23;
  width: 100%;
  height: 212px;
  margin: 250px auto;
}

.signup-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

#H1-Container {
  margin: auto 30px;
  padding: 20px 0 0 0;
}

#H1-Container h1 {
  font-family: Elaine D02, sans-serif, serif;
  color: #B6FDBF;
  font-size: 2.5rem;
}

#Sign-Up-Label-Container {
  position: absolute;
  left: 31%;
  margin: 10px  auto;
}

#Sign-Up-Label-Container label {
  font-family: Azo Sans, sans-serif,serif;
  color: #94AEBF;
  font-weight: bold;
}

#Email-Container  {
  display: flex;
  align-items: center;
  width: 500px;
}

#Email-Container input {
  width: 100%;
  border-radius: 5px;
  border-color: transparent;
  margin: 10px 0;
  padding: 10px;
  background: rgba(102, 102, 102, 0.3);
  color: #fff;
  font-family: Azo Sans;
  font-size: 15px;
}

.input-names-container {
  display: flex;
  align-items: center;
}

#FirstName-Container  {
  /* width: 50%; */
  margin-right: 10px;
}

#FirstName-Container input, #LastName-Container input {
  /* width: 100%; */
  border-color: transparent;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  background: rgba(102, 102, 102, 0.3);
  color: #fff;
  font-family: Azo Sans;
  font-size: 15px;
}

.thank-you-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Azo Sans, sans-serif, serif;
  color: #94AEBF;
}

#Submit-Container {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

#Submit-Container button {
  padding: 5px 30px;
  width: 100%;
  background: red;
  border: 1px solid red;
  border-radius: 5px;
  color: white;
  font-family: Azo Sans;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

#Checkbox-Container {
  width: 50%;
  margin: -25px -120px 0 0;
}

#Checkbox-Container small{
  padding-left: 5px;
}


#Checkbox-Container  span{
  display: block;
  padding-left: 22px;
}



/* #Checkbox-Text-Container {
  margin-left: 200px;
  margin-top: -18px;
  color: #888888;
  width: 50%;
} */

.checkbox-text{
  color: #888888;
}


@media only screen and (max-width: 1000px) {

  #Signup-Form-Container {
    height: 500px;
  }
    .signup-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      margin: auto;
  }

  #Sign-Up-Label-Container {
    display: flex;
    justify-content: center;
    position: static;
    width: 90%;
  }

  #Email-Container {
    display: flex;
    width: 90%;
  }

  .input-names-container {
    width: 90%;
    justify-content: space-evenly;
  }

  #FirstName-Container, #LastName-Container {
    width: 50%;
  }

  #FirstName-Container input, #LastName-Container input {
    width: 90%;
  }

  #Submit-Container {
    width: 90%;
    padding: 0;
}

  #Checkbox-Container {
      width: 90%;
      margin: 10px 0;
  } 

  #Checkbox-Container  small{
    padding-left: 10px;
} 

#Checkbox-Container  span{
  display: inline;
  padding-left:  0;
} 

  /* #Checkbox-Text-Container {
    margin-left: 30px;
    padding-left: 25px;
    width: 75%;
  } */

  .thank-you-message {
    align-items: center;
    text-align: center;
  }

}