/* .App {
  
} */

#Signup-Form-Container {
  display: flex;
  justify-content: space-evenly;
  background: #120F23;
  width: 100%;
  height: 212px;
  margin: 250px auto;
}

.signup-form {
  display: flex;
}

#H1-Container h1 {
  font-family: Elaine D02, sans-serif, serif;
  color: #B6FDBF;
}

#Sign-Up-Label-Container label {
  font-family: Azo Sans, sans-serif,serif;
  color: #94AEBF;
}

#Email-Container  {
  display: flex;
}

#Email-Container input {
  width: 100%;
}

#Checkbox-Container small {
  color: #888888;
}
